In [59]:
import pandas as pd

In [60]:
df=pd.read_csv('youtube_data_from_python.csv')

In [61]:
df.head()

,#,NOMBRE,SEGUIDORES,TP,PAÍS,TEMA DE INFLUENCIA,ALCANCE POTENCIAL,GUARDAR,INVITAR A LA CAMPAÑA,channel_name,total_subscribers,total_views,total_videos,Unnamed: 13
0,1,NoCopyrightSounds @UC_aEa8K-EOJ3D6gOs7HcyNg,32.9M,-,Reino Unido,Música,9.9M,NaN,Ver Perfil,NoCopyrightSounds,33600000,11011230785,1591,
1,2,DanTDM @UCS5Oz6CHmeoF7vSad0qqXfw,26.3M,-,Reino Unido,NaN,7.9M,NaN,Ver Perfil,DanTDM,28600000,19775951435,3705,NaN
2,3,KSI @UCVtFOytbRpEvzLjvqGG5gxQ,24M,-,Reino Unido,NaN,7.2M,NaN,Ver Perfil,KSI,24100000,6015064768,1252,NaN
3,4,Mister Max @UC_8PAD0Qmi6_gpe77S1Atgg,23M,0.10%,Reino Unido,NaN,6.9M,NaN,Ver Perfil,Mister Max,24400000,15973601417,1136,NaN
4,5,Jelly @UC0DZmkupLYwc0yDsfocLh0A,22.9M,-,Reino Unido,NaN,6.9M,NaN,Ver Perfil,Jelly,23500000,15032515044,6331,NaN

In [62]:
##Exploratory data analysis
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   #                     100 non-null    int64
 1   NOMBRE                100 non-null    object
 2   SEGUIDORES            100 non-null    object
 3   TP                    100 non-null    object
 4   PAÍS                  100 non-null    object
 5   TEMA DE INFLUENCIA    9 non-null      object
 6   ALCANCE POTENCIAL     100 non-null    object
 7   GUARDAR               0 non-null      float64
 8   INVITAR A LA CAMPAÑA  100 non-null    object
 9   channel_name          100 non-null    object
 10  total_subscribers     100 non-null    int64
 11  total_views           100 non-null    int64
 12  total_videos          100 non-null    int64
 13  Unnamed: 13           1 non-null      object
dtypes: float64(1), int64(4), object(9)
memory usage: 11.1+ KB

In [63]:
df.columns

Index(['#', 'NOMBRE', 'SEGUIDORES', 'TP', 'PAÍS', 'TEMA DE INFLUENCIA',
       'ALCANCE POTENCIAL', 'GUARDAR', 'INVITAR A LA CAMPAÑA', 'channel_name',
       'total_subscribers', 'total_views', 'total_videos', 'Unnamed: 13'],
      dtype='object')

In [64]:
Newdf=df[['channel_name','total_subscribers','total_views','total_videos',]]

In [65]:
Newdf.head()

        channel_name  total_subscribers  total_views  total_videos
0  NoCopyrightSounds           33600000  11011230785          1591
1             DanTDM           28600000  19775951435          3705
2                KSI           24100000   6015064768          1252
3         Mister Max           24400000  15973601417          1136
4              Jelly           23500000  15032515044          6331

In [66]:
Newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   channel_name       100 non-null    object
 1   total_subscribers  100 non-null    int64
 2   total_views        100 non-null    int64
 3   total_videos       100 non-null    int64
dtypes: int64(3), object(1)
memory usage: 3.3+ KB

# Checking for Nan values

In [67]:
Newdf.isna().sum()  #There are no null values in the newdataframe

channel_name         0
total_subscribers    0
total_views          0
total_videos         0
dtype: int64

# Checking for duplicated values

In [68]:
Newdf['channel_name'].duplicated().sum()

0

# Checking for the data types

In [69]:
Newdf.dtypes

channel_name         object
total_subscribers     int64
total_views           int64
total_videos          int64
dtype: object

# creating a new colunm called(average_views) then rounding up to 0

In [70]:
Newdf['average_views']=round(Newdf['total_views'] / Newdf['total_videos'])

C:\Users\USER\AppData\Local\Temp\ipykernel_17216\2590710387.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Newdf['average_views']=round(Newdf['total_views'] / Newdf['total_videos'])

In [71]:
Newdf.head()

,channel_name,total_subscribers,total_views,total_videos,average_views
0,NoCopyrightSounds,33600000,11011230785,1591,6920950.0
1,DanTDM,28600000,19775951435,3705,5337639.0
2,KSI,24100000,6015064768,1252,4804365.0
3,Mister Max,24400000,15973601417,1136,14061269.0
4,Jelly,23500000,15032515044,6331,2374430.0

# Sorting values of column(total_views) from highest---lowest(ascending=False)

In [72]:
Newdf.sort_values(by=['total_views'],ascending=False).head()

  channel_name  total_subscribers  total_views  total_videos  average_views
1       DanTDM           28600000  19775951435          3705      5337639.0
7   Dan Rhodes           26500000  18558843557          1664     11153151.0
3   Mister Max           24400000  15973601417          1136     14061269.0
5    Miss Katy           24500000  15462895287          1079     14330765.0
4        Jelly           23500000  15032515044          6331      2374430.0

In [73]:
# Sorting values of "total_videos"
Newdf.sort_values(by=['total_videos'],ascending=False).head()

     channel_name  total_subscribers  total_views  total_videos  average_views
61     24 News HD            7710000   3392912536        165103        20550.0
87       Sky News            7540000   4282633039         46009        93083.0
29  BBC News عربي           11500000   4858222538         40179       120914.0
15       BBC News           15800000   5219037615         21145       246821.0
16            BBC           14100000  10345796779         18714       552837.0

In [74]:
##Sorting values for "total_subscribers"
Newdf.sort_values(by=['total_subscribers'],ascending=False).head()

,channel_name,total_subscribers,total_views,total_videos,average_views
0,NoCopyrightSounds,33600000,11011230785,1591,6920950.0
1,DanTDM,28600000,19775951435,3705,5337639.0
7,Dan Rhodes,26500000,18558843557,1664,11153151.0
5,Miss Katy,24500000,15462895287,1079,14330765.0
3,Mister Max,24400000,15973601417,1136,14061269.0

# Creating a variable to show the conversion_rate,costperitem and campaign cost for the total net profit

In [75]:
convertion_rate=0.02
cost_per_item=2 #dollars
campaign_cost=10000 #dollars

In [76]:
Newdf['unitsold_per_video']=Newdf['average_views'] * 0.02

C:\Users\USER\AppData\Local\Temp\ipykernel_17216\1160321081.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Newdf['unitsold_per_video']=Newdf['average_views'] * 0.02

In [77]:
Newdf.head()

,channel_name,total_subscribers,total_views,total_videos,average_views,unitsold_per_video
0,NoCopyrightSounds,33600000,11011230785,1591,6920950.0,138419.00
1,DanTDM,28600000,19775951435,3705,5337639.0,106752.78
2,KSI,24100000,6015064768,1252,4804365.0,96087.30
3,Mister Max,24400000,15973601417,1136,14061269.0,281225.38
4,Jelly,23500000,15032515044,6331,2374430.0,47488.60

# Sorting the values for unitsold_per_video (highest to lowest)

In [78]:
Newdf.sort_values(by=['unitsold_per_video'],ascending=False).head()

,channel_name,total_subscribers,total_views,total_videos,average_views,unitsold_per_video
64,Mark Ronson,6860000,6455750214,20,322787511.0,6455750.22
27,Jessie J,10600000,5738170096,96,59772605.0,1195452.10
6,Dua Lipa,23300000,12792401018,222,57623428.0,1152468.56
12,Little Mix,16300000,7760494530,278,27915448.0,558308.96
9,Gaby and Alex,17200000,8599791929,367,23432676.0,468653.52

In [79]:
Newdf['revenue_per_video']=Newdf['average_views'] * convertion_rate * cost_per_item

C:\Users\USER\AppData\Local\Temp\ipykernel_17216\3212323179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Newdf['revenue_per_video']=Newdf['average_views'] * convertion_rate * cost_per_item

In [80]:
Newdf.head()

,channel_name,total_subscribers,total_views,total_videos,average_views,unitsold_per_video,revenue_per_video
0,NoCopyrightSounds,33600000,11011230785,1591,6920950.0,138419.00,276838.00
1,DanTDM,28600000,19775951435,3705,5337639.0,106752.78,213505.56
2,KSI,24100000,6015064768,1252,4804365.0,96087.30,192174.60
3,Mister Max,24400000,15973601417,1136,14061269.0,281225.38,562450.76
4,Jelly,23500000,15032515044,6331,2374430.0,47488.60,94977.20

In [81]:
Newdf.sort_values(by=['revenue_per_video'],ascending=False).head()

,channel_name,total_subscribers,total_views,total_videos,average_views,unitsold_per_video,revenue_per_video
64,Mark Ronson,6860000,6455750214,20,322787511.0,6455750.22,12911500.44
27,Jessie J,10600000,5738170096,96,59772605.0,1195452.10,2390904.20
6,Dua Lipa,23300000,12792401018,222,57623428.0,1152468.56,2304937.12
12,Little Mix,16300000,7760494530,278,27915448.0,558308.96,1116617.92
9,Gaby and Alex,17200000,8599791929,367,23432676.0,468653.52,937307.04

# new netprofit for the average_views using our variables

In [82]:
Newdf['netprofit']=Newdf['average_views'] * convertion_rate * cost_per_item - campaign_cost

C:\Users\USER\AppData\Local\Temp\ipykernel_17216\3156368116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Newdf['netprofit']=Newdf['average_views'] * convertion_rate * cost_per_item - campaign_cost

In [83]:
Newdf.head()

,channel_name,total_subscribers,total_views,total_videos,average_views,unitsold_per_video,revenue_per_video,netprofit
0,NoCopyrightSounds,33600000,11011230785,1591,6920950.0,138419.00,276838.00,266838.00
1,DanTDM,28600000,19775951435,3705,5337639.0,106752.78,213505.56,203505.56
2,KSI,24100000,6015064768,1252,4804365.0,96087.30,192174.60,182174.60
3,Mister Max,24400000,15973601417,1136,14061269.0,281225.38,562450.76,552450.76
4,Jelly,23500000,15032515044,6331,2374430.0,47488.60,94977.20,84977.20

In [84]:
##Sorting the values of "netprofit" by ascending=False
Newdf.sort_values(by=['netprofit'],ascending=False).head()

,channel_name,total_subscribers,total_views,total_videos,average_views,unitsold_per_video,revenue_per_video,netprofit
64,Mark Ronson,6860000,6455750214,20,322787511.0,6455750.22,12911500.44,12901500.44
27,Jessie J,10600000,5738170096,96,59772605.0,1195452.10,2390904.20,2380904.20
6,Dua Lipa,23300000,12792401018,222,57623428.0,1152468.56,2304937.12,2294937.12
12,Little Mix,16300000,7760494530,278,27915448.0,558308.96,1116617.92,1106617.92
9,Gaby and Alex,17200000,8599791929,367,23432676.0,468653.52,937307.04,927307.04

In [85]:
Newdf.tail()

,channel_name,total_subscribers,total_views,total_videos,average_views,unitsold_per_video,revenue_per_video,netprofit
95,Wisp,5180000,1068272135,513,2082402.0,41648.04,83296.08,73296.08
96,WillNE,5030000,852896342,305,2796381.0,55927.62,111855.24,101855.24
97,Zerkaa,4710000,847855843,1998,424352.0,8487.04,16974.08,6974.08
98,Ben Phillips,4550000,1270551080,858,1480829.0,29616.58,59233.16,49233.16
99,Roxxsaurus,4580000,539030412,933,577739.0,11554.78,23109.56,13109.56

# new netprofit for the total number of subscribers using our variables

In [86]:
Newdf['netprofit_total_subscribers']=Newdf['total_subscribers'] * convertion_rate * cost_per_item - campaign_cost

C:\Users\USER\AppData\Local\Temp\ipykernel_17216\1849996919.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Newdf['netprofit_total_subscribers']=Newdf['total_subscribers'] * convertion_rate * cost_per_item - campaign_cost

In [87]:
Newdf.head()

,channel_name,total_subscribers,total_views,total_videos,average_views,unitsold_per_video,revenue_per_video,netprofit,netprofit_total_subscribers
0,NoCopyrightSounds,33600000,11011230785,1591,6920950.0,138419.00,276838.00,266838.00,1334000.0
1,DanTDM,28600000,19775951435,3705,5337639.0,106752.78,213505.56,203505.56,1134000.0
2,KSI,24100000,6015064768,1252,4804365.0,96087.30,192174.60,182174.60,954000.0
3,Mister Max,24400000,15973601417,1136,14061269.0,281225.38,562450.76,552450.76,966000.0
4,Jelly,23500000,15032515044,6331,2374430.0,47488.60,94977.20,84977.20,930000.0

In [88]:
##Sorting the values of "netprofit_total_subscribers" by ascending=False
Newdf.sort_values(by=['netprofit_total_subscribers'],ascending=False).head()

,channel_name,total_subscribers,total_views,total_videos,average_views,unitsold_per_video,revenue_per_video,netprofit,netprofit_total_subscribers
0,NoCopyrightSounds,33600000,11011230785,1591,6920950.0,138419.00,276838.00,266838.00,1334000.0
1,DanTDM,28600000,19775951435,3705,5337639.0,106752.78,213505.56,203505.56,1134000.0
7,Dan Rhodes,26500000,18558843557,1664,11153151.0,223063.02,446126.04,436126.04,1050000.0
5,Miss Katy,24500000,15462895287,1079,14330765.0,286615.30,573230.60,563230.60,970000.0
3,Mister Max,24400000,15973601417,1136,14061269.0,281225.38,562450.76,552450.76,966000.0

# new netprofit for the total_videos using our variables

In [89]:
Newdf['netprofit_total_videos']=Newdf['total_videos'] * convertion_rate * cost_per_item - campaign_cost

C:\Users\USER\AppData\Local\Temp\ipykernel_17216\220750772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Newdf['netprofit_total_videos']=Newdf['total_videos'] * convertion_rate * cost_per_item - campaign_cost

In [90]:
Newdf.head()

,channel_name,total_subscribers,total_views,total_videos,average_views,unitsold_per_video,revenue_per_video,netprofit,netprofit_total_subscribers,netprofit_total_videos
0,NoCopyrightSounds,33600000,11011230785,1591,6920950.0,138419.00,276838.00,266838.00,1334000.0,-9936.36
1,DanTDM,28600000,19775951435,3705,5337639.0,106752.78,213505.56,203505.56,1134000.0,-9851.80
2,KSI,24100000,6015064768,1252,4804365.0,96087.30,192174.60,182174.60,954000.0,-9949.92
3,Mister Max,24400000,15973601417,1136,14061269.0,281225.38,562450.76,552450.76,966000.0,-9954.56
4,Jelly,23500000,15032515044,6331,2374430.0,47488.60,94977.20,84977.20,930000.0,-9746.76

In [91]:
##Sorting the values of "netprofit_total_videos" by ascending=False
Newdf.sort_values(by=['netprofit_total_videos'],ascending=False).head()

,channel_name,total_subscribers,total_views,total_videos,average_views,unitsold_per_video,revenue_per_video,netprofit,netprofit_total_subscribers,netprofit_total_videos
61,24 News HD,7710000,3392912536,165103,20550.0,411.00,822.00,-9178.00,298400.0,-3395.88
87,Sky News,7540000,4282633039,46009,93083.0,1861.66,3723.32,-6276.68,291600.0,-8159.64
29,BBC News عربي,11500000,4858222538,40179,120914.0,2418.28,4836.56,-5163.44,450000.0,-8392.84
15,BBC News,15800000,5219037615,21145,246821.0,4936.42,9872.84,-127.16,622000.0,-9154.20
16,BBC,14100000,10345796779,18714,552837.0,11056.74,22113.48,12113.48,554000.0,-9251.44

In [92]:
Newdf.to_csv('Youtube-Analysis.csv')