In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('youtube_data_from_python.csv')

In [3]:
df.head()

,#,NOMBRE,SEGUIDORES,TP,PAÍS,TEMA DE INFLUENCIA,ALCANCE POTENCIAL,GUARDAR,INVITAR A LA CAMPAÑA,channel_name,total_subscribers,total_views,total_videos,Unnamed: 13
0,1,NoCopyrightSounds @UC_aEa8K-EOJ3D6gOs7HcyNg,32.9M,-,Reino Unido,Música,9.9M,NaN,Ver Perfil,NoCopyrightSounds,33600000,11011230785,1591,
1,2,DanTDM @UCS5Oz6CHmeoF7vSad0qqXfw,26.3M,-,Reino Unido,NaN,7.9M,NaN,Ver Perfil,DanTDM,28600000,19775951435,3705,NaN
2,3,KSI @UCVtFOytbRpEvzLjvqGG5gxQ,24M,-,Reino Unido,NaN,7.2M,NaN,Ver Perfil,KSI,24100000,6015064768,1252,NaN
3,4,Mister Max @UC_8PAD0Qmi6_gpe77S1Atgg,23M,0.10%,Reino Unido,NaN,6.9M,NaN,Ver Perfil,Mister Max,24400000,15973601417,1136,NaN
4,5,Jelly @UC0DZmkupLYwc0yDsfocLh0A,22.9M,-,Reino Unido,NaN,6.9M,NaN,Ver Perfil,Jelly,23500000,15032515044,6331,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   #                     100 non-null    int64
 1   NOMBRE                100 non-null    object
 2   SEGUIDORES            100 non-null    object
 3   TP                    100 non-null    object
 4   PAÍS                  100 non-null    object
 5   TEMA DE INFLUENCIA    9 non-null      object
 6   ALCANCE POTENCIAL     100 non-null    object
 7   GUARDAR               0 non-null      float64
 8   INVITAR A LA CAMPAÑA  100 non-null    object
 9   channel_name          100 non-null    object
 10  total_subscribers     100 non-null    int64
 11  total_views           100 non-null    int64
 12  total_videos          100 non-null    int64
 13  Unnamed: 13           1 non-null      object
dtypes: float64(1), int64(4), object(9)
memory usage: 11.1+ KB

In [5]:
df.columns

Index(['#', 'NOMBRE', 'SEGUIDORES', 'TP', 'PAÍS', 'TEMA DE INFLUENCIA',
       'ALCANCE POTENCIAL', 'GUARDAR', 'INVITAR A LA CAMPAÑA', 'channel_name',
       'total_subscribers', 'total_views', 'total_videos', 'Unnamed: 13'],
      dtype='object')

In [6]:
Newdf=df[['channel_name','total_subscribers','total_views','total_videos',]]

In [7]:
Newdf.head()

        channel_name  total_subscribers  total_views  total_videos
0  NoCopyrightSounds           33600000  11011230785          1591
1             DanTDM           28600000  19775951435          3705
2                KSI           24100000   6015064768          1252
3         Mister Max           24400000  15973601417          1136
4              Jelly           23500000  15032515044          6331

In [8]:
Newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   channel_name       100 non-null    object
 1   total_subscribers  100 non-null    int64
 2   total_views        100 non-null    int64
 3   total_videos       100 non-null    int64
dtypes: int64(3), object(1)
memory usage: 3.3+ KB

# Checking for Nan values

In [10]:
Newdf.isna().sum()  #There are no null values in the newdataframe

channel_name         0
total_subscribers    0
total_views          0
total_videos         0
dtype: int64

# Checking for duplicated values

In [15]:
Newdf['channel_name'].duplicated().sum()

0

# Checking for the data types

In [17]:
Newdf.dtype

channel_name         object
total_subscribers     int64
total_views           int64
total_videos          int64
dtype: object

# creating a new colunm(average_views) then rounding up

In [23]:
Newdf['average_views']=round(Newdf['total_views'] / Newdf['total_videos'])

C:\Users\USER\AppData\Local\Temp\ipykernel_17124\2590710387.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Newdf['average_views']=round(Newdf['total_views'] / Newdf['total_videos'])

In [24]:
Newdf.head()

,channel_name,total_subscribers,total_views,total_videos,average_views
0,NoCopyrightSounds,33600000,11011230785,1591,6920950.0
1,DanTDM,28600000,19775951435,3705,5337639.0
2,KSI,24100000,6015064768,1252,4804365.0
3,Mister Max,24400000,15973601417,1136,14061269.0
4,Jelly,23500000,15032515044,6331,2374430.0

# Sorting values of columns from highest-lowest

In [28]:
Newdf.sort_values(by=['total_views'],ascending=False).head()

  channel_name  total_subscribers  total_views  total_videos  average_views
1       DanTDM           28600000  19775951435          3705      5337639.0
7   Dan Rhodes           26500000  18558843557          1664     11153151.0
3   Mister Max           24400000  15973601417          1136     14061269.0
5    Miss Katy           24500000  15462895287          1079     14330765.0
4        Jelly           23500000  15032515044          6331      2374430.0

In [29]:
Newdf.sort_values(by=['total_videos'],ascending=False).head()

     channel_name  total_subscribers  total_views  total_videos  average_views
61     24 News HD            7710000   3392912536        165103        20550.0
87       Sky News            7540000   4282633039         46009        93083.0
29  BBC News عربي           11500000   4858222538         40179       120914.0
15       BBC News           15800000   5219037615         21145       246821.0
16            BBC           14100000  10345796779         18714       552837.0

In [30]:
Newdf.sort_values(by=['total_subscribers'],ascending=False).head()

,channel_name,total_subscribers,total_views,total_videos,average_views
0,NoCopyrightSounds,33600000,11011230785,1591,6920950.0
1,DanTDM,28600000,19775951435,3705,5337639.0
7,Dan Rhodes,26500000,18558843557,1664,11153151.0
5,Miss Katy,24500000,15462895287,1079,14330765.0
3,Mister Max,24400000,15973601417,1136,14061269.0